<script lang="ts">
  import { page } from "$app/state";
  import { Discord } from "$lib/reusables";

  let messages = new Map([
    [
      500,
      "Something went wrong internally! This isn't your fault. If this issue persists, please let us know in our discord (use the link below)",
    ],
  ]);
</script>

{#if page.status === 404}
  <div class="not-prose space-y-4 text-left">
    <h1 class="text-6xl font-bold tracking-tight">404: Failed to load resources</h1>
    <h2 class="text-2xl font-medium leading-snug">datapack_wiki:pages{page.url.pathname} not found.</h2>
    <p>It might have been removed, or never existed in the first place. Try searching for the page you need, or if this page should exist, let us know in our <a href="https://discord.gg/xHTHbZqXr6">Discord</a></p>
  </div>

  {messages.get(page.status)}

  <div class="not-prose">
    <Discord />
  </div>

{:else}
  # Error {page.status}: {page.error?.message}

{messages.get(page.status)}

<div class="not-prose">
  <Discord />
</div>
{/if}
